<section *ngIf="contact$|async as contact" class="contact-details-page">
    <img src="https://robohash.org/{{ contact._id }}?set=set1" alt="contact" />
    <section class="info">
        <p>Name: <span>{{contact.name}}</span></p>
        <p>Phone: <span>{{contact.phone}}</span></p>
        <p>Email: <span>{{contact.email}}</span></p>
    </section>
    <section class="buttons">
        <button (click)="onBack($event)">Back</button>
        <button (click)="onRemove($event)">Remove</button>
        <button (click)="onEdit($event)">Edit</button>
    </section>
</section>